{% extends "base.html" %}
{% load static %}

{% block title %}PESEL Verification{% endblock %}

{% block links %}{% endblock %}

{% block body %}
    <div class="card card-default shadow rounded border w-50 mx-auto text-center verification-card">
        <div class="card-body">
            <form class="form-inline" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-group mb-2 mr-sm-2">
                    <input name="{{ form.peselField.name }}" type="text" class="form-control {{ form.peselField.class }} {{ validity }}" id="peselField" placeholder="PESEL" value={{ pesel }}>
                    {% for error in form.peselField.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="sexField">{{ form.sexField.label }}</label>
                    </div>
                    <select name="{{ form.sexField.name }}" id="sexField" class=" form-select {{ form.sexField.class }} {% if form.sexField.errors %}is-invalid{% endif %}">
                        <option value=""></option>
                        {% for value, label in form.sexField.field.choices %}
                            <option value="{{ value }}" {% if value == sex %}selected{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                    {% for error in form.sexField.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-secondary">Verify</button>
            </form>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script src="{% static 'js/app_PeselVerification/verification.js' %}"></script>
{% endblock %}

